/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.navbar {
  background-color: white;
  width: 100%; /* Full width */
 /* Reduced padding to minimize height */
  font-family: 'Inter', sans-serif;
  position: fixed; /* Fix it on top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  width: 120px; /* Reduced logo size */
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px; /* Further reduced gap between menu items */
  margin: 0;
 
   margin-right: 100px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 12px; /* Reduced font-size */
  color: #333;
  font-weight: 700;
  transition: color 0.3s ease;
   margin-left: 100px;
   font-size: 18px;
}


.nav-links li a:hover {
  color: red;
}

.nav-links li a.active {
  color: red;
}

/* Adjust for fixed navbar height */
body {
  margin-top: 50px; /* Adjusted based on new navbar height */
}
